meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')

link(rel='shortcut icon' href='/static/images/jupiter.png' type='image/x-icon')
link(rel='stylesheet' type='text/css' href='/static/style/normalize.css')

meta(property='og:url'          content='/')
meta(property='og:type'         content='website')
meta(property='og:title'        content=portfolioData.profile.coverText)
meta(property='og:description'  content=portfolioData.profile.desc)
meta(property='og:image'        content=portfolioData.profile.coverImage)

title= portfolioData.profile.coverText