doctype html
html(lang='ko')
    head
        include head.pug
        link(rel='canonical' href='https://www.jupiterflow.com')
        title= portfolioData.profile.coverText
        meta(name='title' content=portfolioData.profile.coverText)
        meta(name='description' content=portfolioData.profile.coverText + ' | ' + portfolioData.profile.desc)
        meta(property='og:url'          content='https://www.jupiterflow.com')
        meta(property='og:title'        content=portfolioData.profile.coverText)
        meta(property='og:description'  content=portfolioData.profile.desc)
        meta(property='og:image'        content='https://www.jupiterflow.com' + portfolioData.profile.image)
        link(rel='stylesheet' type='text/css' href='/static/style/global.css')
        link(rel='stylesheet' type='text/css' href='/static/style/index.css')
    body
        .wrapper
            .header
                .cover(style={'background-image': 'url(' + portfolioData.profile.coverImage + ')'})
                    .cover-text-wrapper
                        .cover-text= portfolioData.profile.coverText
                .profile-wrapper
                    .profile(style={'background-image': 'url(' + portfolioData.profile.image + ')'})
                .name
                    span.h2-font= portfolioData.profile.name
                    span.h3-font!= portfolioData.profile.desc
                .contact
                    .contact-item
                        span.fa-stack.fa-xs.cannot-drag
                            i.fas.fa-circle.fa-stack-2x
                            i.far.fa-envelope.fa-stack-1x.fa-inverse
                        span.contact-txt
                            a(href='mailto:' + portfolioData.profile.email)= portfolioData.profile.email
                    .contact-item
                        span.fa-stack.fa-xs.cannot-drag
                            i.fas.fa-circle.fa-stack-2x
                            i.fas.fa-mobile-alt.fa-stack-1x.fa-inverse
                        span.contact-txt= portfolioData.profile.phone
                    .contact-item
                        span.fa-stack.fa-xs.cannot-drag
                            i.fas.fa-circle.fa-stack-2x
                            i.fas.fa-briefcase.fa-stack-1x.fa-inverse
                        span.contact-txt= portfolioData.profile.work
            .body
                .dot-horizontal
                .left
                    .detail-box(style={'margin-bottom': '15px'})
                        each item in portfolioData.social
                            .social-contact
                                img(src=item.ico)
                                a(href='//' + item.url target='_blank')= item.url
                    .detail-box(style='margin-bottom:10px')
                        span.title
                            a(href='/resume') 이력서
                                span.edit-plus-btn 더 보기
                    .detail-box
                        span.title 소개
                        span!= portfolioData.info_short.replace(/\n/g, '<br/>')
                    .detail-box
                        span.title 경력
                        if portfolioData.career.data.length > 0
                            ul.normal-list
                                - const careerData = portfolioData.career.data.slice()
                                each career in careerData.reverse().slice(0, portfolioData.career.count)
                                    li
                                        .list-text
                                            .company= career.company
                                            .period= career.period
                                            .job= career.job
                                            .desc= career.desc
                        else
                            div 등록된 경력이 없습니다.

                    .detail-box
                        span.title 교육
                        if portfolioData.education.length > 0
                            ul.normal-list
                                each item in portfolioData.education
                                    li
                                        .list-text
                                            .company= item.company
                                            .job= item.job
                                            .period= item.period
                        else
                            div 등록된 교육이 없습니다.

                    .detail-box
                        span.title 기타 활동 및 수상
                        a(href='https://blog.jupiterflow.com/about/' target='_blank') https://blog.jupiterflow.com/about/

                    .detail-box
                        ins.adsbygoogle(style={display: 'block'} data-ad-client='ca-pub-1462947422010620' data-ad-slot='8724258860' data-ad-format='auto' data-full-width-responsive='true')
                        script.
                            (adsbygoogle = window.adsbygoogle || []).push({});

                .content
                    .detail-box
                        span.title Tech Stack
                        ul.stack-list
                            - let stackData={}
                            each project in portfolioData.content.project.data
                                each stack in project.stack
                                    if stackData[stack]
                                        - stackData[stack]++
                                    else
                                        - stackData[stack] = 1
                            - let sortable = []
                            each idx, stack in stackData
                                - sortable.push([stack, stackData[stack]])
                            - sortable.sort((stack_name, stack_count)=> { return stack_count[1] - stack_name[1]; })
                            each item in sortable
                                - let stack_filter = portfolioData.content.stack_filter.map(x => x.toUpperCase())
                                if stack_filter.indexOf(item[0].toUpperCase()) > 0
                                    li
                                        =item[0]
                                        span.stack-cnt= item[1]
                    .detail-box
                        .title
                            a(href='/project') 프로젝트
                                span.edit-plus-btn 더 보기
                        ul.portfolio-list
                            - const projectData = portfolioData.content.project.data.slice()
                            each item, idx in projectData.reverse().slice(0,portfolioData.content.project.count)
                                a(href='/project/' + (projectData.length - idx))
                                    li
                                        if item.hot
                                            .project-hot-ribbon
                                                span HOT
                                        .list-img
                                            .img(style={'background-image': 'url(' + item.img[0] + ')'})
                                        .list-content
                                            .subject= item.subject
                                            .period= item.period
                                            .stack
                                                ul
                                                    each stack in item.stack
                                                        li
                                                            span.stack-circle(style={color: colorScheme.scheme[stack]}) ●
                                                            = ' ' + stack

                    .detail-box.detail-box__posts
                        span.title
                            //a(href='')
                            | 그 외 활동
                            //span.edit-plus-btn 더 보기
                        ul.portfolio-list
                            each item in portfolioData.content.post
                                a(href=item.url target='_blank')
                                    li
                                        .list-img
                                            .img(style={'background-image': 'url(' + item.img + ')'})
                                        .list-content
                                            .subject= item.subject