doctype html
html(lang='ko')
    head
        include head.pug
        link(rel='canonical' href='https://www.jupiterflow.com/project/' + postNum)
        title= portfolioData.content.project.data[postNum - 1].subject + ' | ' + portfolioData.profile.coverText
        meta(name='title' content=portfolioData.content.project.data[postNum - 1].subject + ' | ' + portfolioData.profile.coverText)
        meta(name='description' content=portfolioData.content.project.data[postNum - 1].desc)
        meta(property='og:url'          content='https://www.jupiterflow.com/project/' + postNum)
        meta(property='og:title'        content=portfolioData.content.project.data[postNum - 1].subject + ' | ' + portfolioData.profile.coverText)
        meta(property='og:site_name'        content=portfolioData.profile.coverText)
        meta(property='og:description'  content=portfolioData.content.project.data[postNum - 1].desc)
        meta(property='og:image'        content='https://www.jupiterflow.com' + portfolioData.content.project.data[postNum - 1].img[0])
        link(rel='stylesheet' type='text/css' href='/static/style/project-view.css')
        link(rel='stylesheet' type='text/css' href='/static/vendor/lightbox2/css/lightbox.css')
        link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css')
        link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/highlight.js/9.1.0/styles/github.min.css')
    body
        .wrapper.cannot-drag
            - const projectData = portfolioData.content.project.data.slice().reverse()
            - const _postNum = projectData.length - postNum
            .portfolio-header
                .header-wrapper
                    .header
                        .left
                            a(href='/project')
                                .mini-profile(style={'background-image': 'url(' + portfolioData.profile.image + ')'})
                        .content
                            .title
                                a(href='/project')
                                    //b= portfolioData.profile.name
                                    b 프로젝트
                                b!= '&nbsp;/&nbsp;'
                                span.portfolio-name= projectData[_postNum].subject
            .portfolio-content.can-drag
                .tech-stack-wrapper
                    b 이 프로젝트의 Tech Stack
                    br
                    div
                        each stack in projectData[_postNum].stack
                            span.item= stack
                .impact
                    .project-name= projectData[_postNum].subject
                    .project-summary= projectData[_postNum].desc
                    .project-date
                        span.round-box= projectData[_postNum].period
                    .project-item
                        span.label Tech Stack
                        ul.stack
                            each stack in projectData[_postNum].stack
                                li
                                    span.stack-circle(style={color: colorScheme.scheme[stack]}) ●
                                    = ' ' + stack
                    .project-item
                        span.label 프로젝트 등급
                        = projectData[_postNum].progress
                    ul
                        each imgSrc in projectData[_postNum].img
                            li
                                a(href=imgSrc style={cursor: 'pointer'} data-lightbox='projectImages' data-title='Project-Images')
                                    img(src=imgSrc)
                .content
                    .title Proejct 세부내용
                    .desc-box
                        .content
                            .markdown-body
                                != markdownRender(postNum)

                .content
                    ins.adsbygoogle(style={
                        display: 'block'
                    } data-ad-format='auto' data-ad-client='ca-pub-1462947422010620' data-ad-slot='3081049946' data-full-width-responsive='true')
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});

        script(src='/static/vendor/lightbox2/js/lightbox-plus-jquery.js')