doctype html
html(lang='ko')
    head
        include head.pug
        link(rel='canonical' href='https://jupiterflow.com/project')
        meta(name='description' content=portfolioData.profile.desc)
        meta(property='og:url'          content='https://jupiterflow.com/project')
        meta(property='og:title'        content=portfolioData.profile.coverText)
        meta(property='og:description'  content=portfolioData.profile.desc)
        meta(property='og:image'        content='https://jupiterflow.com' + portfolioData.profile.coverImage)
        link(rel='stylesheet' type='text/css' href='/static/style/project-list.css')
    body
        .wrapper.cannot-drag
            .header-wrapper
                .header
                    .writer
                        .profile
                            a(href='/')
                                .img(style={'background-image':'url('+portfolioData.profile.image + ')'})
                        .info
                            .name-wrapper
                                a(href='/')
                                    span.name= portfolioData.profile.name
                                    span.title= ' ' + portfolioData.profile.desc
                            .sentence= portfolioData.profile.coverText
            .portfolio-list-wrapper
                ins.adsbygoogle(style={display: 'block', 'margin-bottom':'30px'} data-ad-client='ca-pub-1462947422010620' data-ad-slot='4984819246' data-ad-format='auto' data-full-width-responsive='true')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});
                .masonry
                    - const projectData = portfolioData.content.project.data.slice()
                    each item, idx in projectData.reverse()
                        .portfolio-wrapper
                            a(href='/project/'+(projectData.length-idx))
                                .portfolio-card
                                        .header
                                            .cover-background(style={'background-image':'url('+item.img[0]+')'})
                                        .content
                                            span.title= item.subject
                                            = item.desc
                                        ul.stack
                                            each stack in item.stack
                                                li
                                                    span.stack-circle(style={color: colorScheme.scheme[stack]}) β—
                                                    = ' ' + stack
                                        .footer μμ„Έν
                    div(style={clear:'both'})