doctype html
html(lang='ko')
    head
        include head.pug
        link(rel='canonical' href='https://jupiterflow.com/project')
        title= 'Resume | ' + portfolioData.profile.coverText
        meta(name='title' content='Resume | ' + portfolioData.profile.coverText)
        meta(name='description' content=portfolioData.profile.desc)
        meta(property='og:url'          content='https://jupiterflow.com/project')
        meta(property='og:title'        content='Resume | ' + portfolioData.profile.coverText)
        meta(property='og:description'  content=portfolioData.profile.desc)
        meta(property='og:image'        content='https://jupiterflow.com' + portfolioData.profile.image)
        link(rel='stylesheet' type='text/css' href='/static/style/global.css')
        link(rel='stylesheet' type='text/css' href='/static/style/resume.css')
    body
        .wrapper
            include header_wrapper
            .content-wrapper
                .resume
                    .main-wrapper
                        section.summary-section
                            h2.section-title
                                span.fa-stack.fa-xs
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fas.fa-user.fa-stack-1x.fa-inverse
                                | career profile
                            .summary
                                p!= portfolioData.info_long.replace(/\n/g, '<br/>')

                        section.summary-section
                            h2.section-title
                                span.fa-stack.fa-xs
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fas.fa-user.fa-stack-1x.fa-inverse
                                | experiences
                            - const careerData = portfolioData.career.data.slice()
                            each career in careerData.reverse().slice(0, careerData.count)
                                .item
                                    .meta
                                        .upper-row
                                            h3.title= career.company
                                            .date= career.period
                                        .sub-title= career.job
                                    .details
                                        p= career.detail

                        section.summary-section
                            h2.section-title
                                span.fa-stack.fa-xs
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fas.fa-file-alt.fa-stack-1x.fa-inverse
                                | awards
                            - const awardData = portfolioData.content.award.data.slice()
                            each award in awardData.reverse().slice(0, awardData.count)
                                .item
                                    .meta
                                        .upper-row
                                            h3.title= award.title
                                            .date= award.date
                                        .sub-title= award.organization
                                    if award.detail
                                        .details
                                            p= award.detail

                        section.summary-section
                            h2.section-title
                                span.fa-stack.fa-xs
                                    i.fas.fa-circle.fa-stack-2x
                                    i.fas.fa-certificate.fa-stack-1x.fa-inverse
                                | certification
                            - const certificationeData = portfolioData.content.certification.data.slice()
                            each certification in certificationeData.reverse().slice(0, certificationeData.count)
                                .item
                                    .meta
                                        .upper-row
                                            h3.title= certification.title
                                            .date= certification.date
                                        .sub-title= certification.organization
